@page  "/personas/editar/{PersonaId:int}"
@inject NavigationManager _navigationManager
@inject IRepositorio _repositorio
@inject IMostrarMensajes _mostrarMensajes

<h3>Editar Persona</h3>

@if (personaAGuardar != null)
{
    <FormularioPersona persona="personaAGuardar" OnValidSubmit="GuardarCambios" />
}
else
{
    <text>Cargando...</text>
}


@code {
    [Parameter] public int PersonaId { get; set; }
    private Persona personaAGuardar;

    private async Task GuardarCambios()
    {
        var responseHttp = await _repositorio.Put("api/personas", personaAGuardar);

        if (responseHttp.Error)
        {
            await _mostrarMensajes.MostrarMensajeError(await responseHttp.GetBody());
        }
        else
        {
            _navigationManager.NavigateTo("personas");
        }
    }

    protected async override Task OnInitializedAsync()
    {
        var responseHttp = await _repositorio.Get<Persona>($"api/personas/{PersonaId}");

        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                _navigationManager.NavigateTo("personas");
            }
            else
            {
                await _mostrarMensajes.MostrarMensajeError(await responseHttp.GetBody());
            }
        }
        else
        {
            personaAGuardar = responseHttp.Response;
        }
    }
}
