@page "/generos/editar/{GeneroId:int}"
@inject NavigationManager _navigationManager
@inject IRepositorio _repositorio
@inject IMostrarMensajes _mostrarMensajes

<h3>Editar Género</h3>

@if (genero != null)
{
    <FormularioGenero Genero="genero" OnValidSubmit="GuardarCambios" />
}
else
{
    <text>Cargando...</text>
}


@code {
    [Parameter] public int GeneroId { get; set; }
    private Genero genero = new Genero();

    private async Task GuardarCambios()
    {
        var responseHttp = await _repositorio.Put("api/generos", genero);

        if (responseHttp.Error)
        {
            await _mostrarMensajes.MostrarMensajeError(await responseHttp.GetBody());
        }
        else
        {
            _navigationManager.NavigateTo("generos");
        }
    }

    protected async override Task OnInitializedAsync()
    {
        var responseHttp = await _repositorio.Get<Genero>($"api/generos/{GeneroId}");

        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                _navigationManager.NavigateTo("generos");
            }
            else
            {
                await _mostrarMensajes.MostrarMensajeError(await responseHttp.GetBody());
            }
        }
        else
        {
            genero = responseHttp.Response;
        }
    }
}
