@page "/"
@inject IRepositorio _repositorio
 
<div>
    <h3>En Cartelera</h3>
    <ListadoPeliculasConRenderFragmentGenerico ListaPeliculas="HomePageDTO.PeliculasEnCartera"></ListadoPeliculasConRenderFragmentGenerico>
</div>
<div>
    <h3>Próximos Estrenos</h3>
    <ListadoPeliculasConRenderFragmentGenerico ListaPeliculas="HomePageDTO.ProximosEstrenos"></ListadoPeliculasConRenderFragmentGenerico>
</div>


@code {

    public HomePageDTO HomePageDTO { get; set; } = new HomePageDTO();

    protected async override Task OnInitializedAsync()
    {
        var responseHttp = await _repositorio.Get<HomePageDTO>("api/peliculas");
        HomePageDTO = responseHttp.Response;
    }
}
