@page "/"
@inject IRepositorio _repositorio

<div>
    <h3>En Cartelera</h3>
    <ListadoPeliculasConRenderFragmentGenerico ListaPeliculas="EnCartelera"></ListadoPeliculasConRenderFragmentGenerico>
</div>
<div>
    <h3>Próximos Estrenos</h3>
    <ListadoPeliculasConRenderFragmentGenerico ListaPeliculas="FuturosEstrenos"></ListadoPeliculasConRenderFragmentGenerico>
</div>


@code {

    public List<Pelicula> FuturosEstrenos { get; set; }
    public List<Pelicula> EnCartelera { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var responseHttp = await _repositorio.Get<HomePageDTO>("api/peliculas");
        FuturosEstrenos = responseHttp.Response.ProximosEstrenos;
        EnCartelera = responseHttp.Response.PeliculasEnCartera;
    }
}
